.page {
    margin: 84px 0;
}

.step {
    padding: 0 24px;
}

.message {
    padding: 32px 0;
}

.message span {
    color: #FF6B2C;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.error {
    color: #FF3B30;
}

.success {
    color: #34A853;
}

.errorContainer {
    display: flex;
    gap: 8px;
}

.link {
    color: #444444;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

.timer {
    color: #666666;
}

.resendButton {
    background-color: transparent;
    border: none;
    color: #111111;
    cursor: pointer;
}

.checkboxContainer {
    margin-top: 17px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.checkboxItem {
    display: flex;
    gap: 8px;
    align-items: center;
}