.listPageContainer {
    width: 100%;
    height: calc(100vh - 84px);
    margin: 0;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

.listPageContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.listPage {
    margin: 84px 0;
}

.tagSkeletonContainer {
    padding: 16px 0;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    width: 100%;
    gap: 4px;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tagSkeletonContainer::before {
    content: '';
    min-width: 20px;
}

.tagContainer {
    padding: 16px 0;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    gap: 4px;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tagContainer::before {
    content: '';
    min-width: 20px;
}

.tagContainer::after {
    content: '';
    min-width: 20px;
}

.listContainer {
    padding: 12px 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 12px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.loadMore {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.searchContainer {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}