.listPage {
    margin: 84px 0;
}

.tagContainer {
    padding: 16px 0;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    gap: 4px;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tagContainer::before {
    content: '';
    min-width: 20px;
}

.listContainer {
    padding: 12px 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}