.Page{
    margin: 84px 0;
}
.MyPlanPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    max-width: 360px;
}
.MyPlan{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.MyPlanCreate{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 360px;
    align-items: center;
}

.MyPlanTitle{
    font-size: 18px;
    font-weight: 600;

}
.MyPlanDetail{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Myplan_FromPerson{
    display: flex;
    justify-content: space-between;
}
.pinBtn{
    display: flex;
    align-Items: center;
    gap: 8px;
}
.plusBtn{
    display: flex;
    align-Items: center;
    gap: 8px;
}

.MyPlanLikeContent{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.MyPlanLikeTitle{


}
.VisitedPlaces{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.LikeTitle{
    font-size: 18px;
    font-weight: 600;
    width: 312px;
}
.LikeList{
    width: 100%;
    margin-left: -8px;
}
.guestContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 237, 237, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    gap: 8px;
}

/*.signupBtn {*/
/*    margin-top: 16px;*/
/*    padding: 10px 20px;*/
/*    border-radius: 12px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

.textTitle{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.TexiTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}