.carouselTrack {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: auto; /* smooth에서 auto로 변경 */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.carouselTrack::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.carouselItems {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 8px;
}
.carouselItems > * {
    margin-right: 8px;
}

.carouselItems > *:last-child {
    margin-right: 0;
}
.carouselItems > *:first-child {
    margin-left: 0;
}

.carouselItems::after {
    content: '';
    min-width: 16px;
    flex-shrink: 0;
}

.carouselItems::before {
    content: '';
    min-width: 16px;
    flex-shrink: 0;
}


