.inputContainer {
    display: flex;
    width: 312px;
    height: 52px;
    box-sizing: border-box; 
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 12px 13px;
    transition: border-color 0.2s ease-in-out;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.32);
}

.input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
}